# A/B Hypothesis Testing Analysis

## 1. Setup
Import necessary libraries and load data.

In [1]:
# Import necessary libraries

import pandas as pd
import sys
import os

In [2]:
# Adjust the path to point to the 'scripts' directory
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../../scripts')))
from ab_testing_analysis import  load_data, clean_data, segment_data, perform_t_test, report_results

# Load data

In [3]:
file_path = '../../data/MachineLearningRating_v3.txt'
# Replace delimiter with the correct one
df = pd.read_csv(file_path, delimiter='|')  # Change delimiter as needed

# Display the first few rows of the dataframe
df.head()

C:\Users\habteyes.asfaw\AppData\Local\Temp\ipykernel_3016\502432007.py:3: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, delimiter='|')  # Change delimiter as needed

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

# Clean the dataset

In [4]:
df_clean = clean_data(df)
df_clean.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

# 2. Select Metrics
Select the key performance indicators (KPIs) for analysis.

In [5]:
kpi_column = 'TotalClaims'

## 3. Data Segmentation
Create groups for comparison: Control Group (Group A) and Test Group (Group B).

In [6]:
feature_column = 'Province'
control_value = 'ProvinceA'
test_value = 'ProvinceB'

## 4. Statistical Testing
### 4.1 Risk Differences Across Provinces

In [8]:
# 1. Testing risk differences across provinces
print("\n1. Testing risk differences across provinces:")
province_control = 'ProvinceA'  # Replace with actual province name
province_test = 'ProvinceB'     # Replace with actual province name
result_province = ab_testing(
    df=df,
    feature='Province',
    control_value=province_control,
    test_value=province_test,
    kpi_col=kpi_col,
    test_type='t-test'  # Assuming TotalClaims is numerical
)
print(result_province)

1. Testing risk differences across provinces:

NameError: name 'df' is not defined

### 4.2 Risk Differences Between Zip Codes

In [6]:
print("\nTesting for Risk Differences Between Zip Codes:")
def test_risk_differences_between_zip_codes(df):
    zip_codes = df['PostalCode'].unique()
    results = {}
    
    for i in range(len(zip_codes)):
        for j in range(i + 1, len(zip_codes)):
            zip_a = zip_codes[i]
            zip_b = zip_codes[j]
            group_a, group_b = segment_data(df, 'PostalCode', zip_a, zip_b)
            p_value = perform_t_test(group_a[kpi_risk], group_b[kpi_risk])
            results[f'{zip_a} vs {zip_b}'] = analyze_results(p_value)
    
    return results

### 4.3 Margin Differences Between Zip Codes

In [ ]:
# Margin differences between zip codes
t_stat, p_value = perform_t_test(group_a, group_b, 'ProfitMargin')
print(f'Test Statistic: {t_stat}, p-value: {p_value}')
print(analyze_results(p_value))

### 4.4 Risk Differences Between Women and Men

In [ ]:
# Risk differences between genders
chi2_stat, p_value = perform_chi_squared_test(group_a, group_b, 'Gender')
print(f'Chi2 Statistic: {chi2_stat}, p-value: {p_value}')
print(analyze_results(p_value))

## 5. Analyze and Report
Summarize findings and interpret results.

In [ ]:
# Summarize findings
findings = {
    'risk_provinces': analyze_results(p_value),
    'risk_zip_codes': analyze_results(p_value),
    'margin_zip_codes': analyze_results(p_value),
    'risk_gender': analyze_results(p_value)
}

print("Findings:")
for test, result in findings.items():
    print(f"{test}: {result}")